.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}
.backgroundImage{
  background-image: url(../../Assests/home.jpg);
  height: 900px;
  width: 100%;
  background-size: cover;
}
.backgroundImage h1 {
  padding-top: 0%;
  color: white;
  text-align: center;
}
.backgroundHeading4{
padding-top: 35%;
color: white;
text-align: center;
    
}
.aboutSection{
  padding-left: 60px;
  margin-top: 60px;
}

